# ===================================================================
# tpDcc-libs-qt requirements file
# ===================================================================

PySide;python_version <= '3.4'
PySide2;python_version > '3.4'
tpDcc-libs-python
tpDcc-libs-core
Qt.py
aenum
scandir
pathlib2
pysvg