# ===================================================================
# tpQtLib requirements file
# ===================================================================
PySide;python_version <= '3.4'
PySide2;python_version > '3.4'
tpPyUtils
Qt.py
tpDccLib
aenum
scandir
pathlib2