# ===================================================================
# tpDcc-libs-qt requirements file @ Autodesk Maya
# ===================================================================

-r ./../common.txt